* {
    box-sizing: border-box;
}

body {
    background-image: url(../assets/background.png);
}

.container {
    width: 960px;
    margin: 0px auto 10px;
}

#navcon {
    background: #ffffff;
    height: 50px;
    position: relative;
    top: 0px;
    left: 0px;
}

#navcon a{
   position:relative;
   left:700px; 
   align-content:center;
}

h2 {
    float:left;
    position: relative;
    left: 60px;
    bottom:20px;
    height: 50px;
    width: 175px;
    background: #4aaaa5;
    color: white;
    text-align: center;
}

.menu {
    list-style: none;
}

.logos {
    list-style-type: none;
    display: inline;
    position: relative;
    left: 60px;
}

#about-me {
    width: 650px;
    border: 1px solid #dddddd;
    background: #ffffff;
    float: left;
}

h1 {
    padding-left: 10px;
}

p {
    padding: 5px;
}

.wrap {
    float: left;
    height: 200px;
    padding: 5px;
}

#github, #overflow, #linkedin {
    float: left;
    height: 45px;
    width: 45px;
    /*why is overflow icon bigger?*/
}

aside {
    border: 1px solid #dddddd;
    width: 270px;
    float: left;
    margin-left: 40px;
    background: #ffffff;
    text-align: center;
    padding-bottom: 40px;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

.footer, .push {
    height: 100px;
    text-align: center;
}

.footer {
    border-top: 8px solid #4aaaa5;
    background: #666666;
    color: white;
    clear: both;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}